*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 2px solid #AAAAAA;
}

.tresQuintos{
    grid-column: 2/5;
    justify-content: space-around;
}

.dosQuintos{
    grid-column: 6/9;
    justify-content: space-around;
}

header label{
    grid-column: 5/6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 30px ;
}

.perfil{
    grid-column: 9/10;
    justify-self: end;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
}

.perfil img{
    width: 35px;
}

nav{
    display: flex;
}

i{
    margin-right: 10px;
}

.orange{
    color: #ff721b;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}

/*--------------CODIO DEL MAIN--------------*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 50px;
}

form{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    max-width: 600px;
}

.divInput{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main label{
    margin-left: 5px;
}

form input,
form select,
form textarea{
    width: 250px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgb(95, 95, 95);
}

button{
    margin-left: 85px;
    margin-right: 85px;

    width: 80px;
    padding: 10px;
    background: #ff721b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.eliminarMain{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 10px;
}

.eliminar{
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    width:auto;
}

input[type="checkbox"]{
    display: none;
}

.targeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
}

h3{
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(94, 94, 94);
}

p{
    color: #797979;
}

.modelado{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}

.checkTargeta:checked + .modelado{
    border: 3px solid rgb(68, 127, 255);
}