/* CELULARES */
@media (max-width: 480px){
    body{
        background-color: red;
        width: 100vw;
        height: 100vh;
    }

    .panelLogin{
        width: 95vw;
    }

    .ingresoExitoso{
        width: 95vw;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    .tresQuintos{
        display: none;
        opacity: 0;
        grid-column: 1/1;
        position: absolute;
    }
    
    .dosQuintos{
        display: none;
        opacity: 0;
        grid-column: 1/1;
        position: absolute;
    }
    
    .index .logo{
        margin-left: 20px;
        justify-self: start;
        grid-column: 1/4;
    }
    
    .perfil{
        grid-column: 7/10;
    }

    .index p{
        text-align: center;
    }

    #sideBar:checked ~ .sideBar{
        opacity: 1;
    }
}

/*MINIMO ANTES DE ROMPERCE*/


/* TABLET */
@media (min-width: 481px) and (max-width: 768px){
    body{
        background-color: blue;
    }
}