/* CELULARES */
@media (max-width: 480px){
    body{
        background-color: red;
        width: 100vw;
        height: 100vh;
    }

    .panelLogin{
        width: 95vw;
    }

    .ingresoExitoso{
        width: 95vw;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    .tresQuintos{
        display: none;
        opacity: 0;
        grid-column: 1/1;
        position: absolute;
    }
    
    .dosQuintos{
        display: none;
        opacity: 0;
        grid-column: 1/1;
        position: absolute;
    }

    .index label{
        grid-column: 1/4;
        display: block;
    }
    
    .index .logo{
        margin-left: 20px;
    }

    .perfil{
        grid-column: 7/10;
    }

    .contenido{
        width: 90vw;
    }

    .index p{
        text-align: center;
        width: 100%;
    }

    .modelado p{
        border-bottom: 1px solid rgb(160, 160, 160);
        padding: 2px;
    }
    
    .indice{
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    .tabla{
        margin-top: 0;
    }

    .tabla .primero{
        margin-left: 0;
        padding-left: 0;
    }

    .modelado{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(5,auto);
        height: auto;
        width: 80vw;
        gap: 0;

        padding: 10px;
    }
    
    .indicador{
        grid-column: 1/3;
    }

    .modelado div{
        grid-row: 5/7;
        margin: 5px;
    }

    .desaparecer{
        position: absolute;
    }

    .index .iconos{
        gap: 0;
    }

    .iconos i{
        margin-bottom: 150px;
    }

    .index main{
        background-color: white;
    }

    .index h1{
        text-align: center;
    }

    .btn{
        margin-bottom: 20px;
    }

    #sideBar:checked ~ .sideBar{
        transform: translateX(0%);
        transition: transform 0.35s ease;
        pointer-events: auto;
        box-shadow: 0 0 0 9999px rgba(0,0,0,.4);
    }
}

/*MINIMO ANTES DE ROMPERCE*/

@keyframes desplazameinto {
    from{
        transform: translateX(-20%);
    }
    to{
        transform: translateX(0%);
    }
}