*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    background-image: url(../media/pexels-pixabay-159400.png);
    
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center ;

    position: relative;
}

.position{
    position: absolute;
    pointer-events: none;
    transition: all 0.6s ease;
}

/*SE OCULTAN LOS BONOTES*/
input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


/*-------IMPORTATE LA OPACIDAD PARA QUE SE HAGA VISIBLE-------*/
.logo{
    opacity: 0;
    animation: blink infinite 2s;
}

.logo img{
    width: 20vh;
}

.cargar{
    opacity: 0;
    animation: blink infinite 2s;
}

.logoPosExitoLogin img{
    width: 20vh;
}


/*-------IMPORTATE LA OPACIDAD PARA QUE SE HAGA VISIBLE-------*/
.panelLogin{
    background-color: whitesmoke;
    border-radius: 4vh;
    opacity: 0;

}

.panelLogin form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}

.panelLogin label{
    display: flex;
    flex-direction: column;
}

.panelLogin input{
    border-radius: 1vh;
    border: 1px solid #AAAAAA;
    padding-left: 10px;
    height: 3vh;
    width: 40vh;
}

.panelLogin span{
    color: #797979;
}

.panelLogin img{
    margin-top: 30px;
    width: 7vh;
}

.panelLogin h3{
    color: #797979;
}

.panelLogin h1{
    margin: 0;
    padding: 0;
    font-size: 3vh;
}

.panelLogin p{
    color: #797979;
    font-size: 12px;
    padding:0 25px 0 25px ;
}

.mensajefinal{
    font-size: 9px !important;
}

.panelLogin .btn{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;

    text-decoration: none;
    color: white;
    background-color: #ff721b;
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 5vh;
}

/*-------IMPORTATE LA OPACIDAD PARA QUE SE HAGA VISIBLE-------*/
.ingresoExitoso {
    opacity: 0;
    background-color: whitesmoke;

    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 5vh;

    border-radius: 4vh;
}

.ingresoExitoso label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ingresoExitoso h1{
    font-size: 3vh;
}

.ingresoExitoso p{
    color: #797979;
}

.ingresoExitoso h3{
    color: #797979;
}

.ingresoExitoso img{
    margin-top: 30px;
    width: 7vh;
}

.ingresoExitoso .user{
    margin: 0;
    width: 10vh;
}

.logoPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index{
    opacity: 0;
    width: 20px;
    height: 20px;
    background-color: white;
}



#logo:checked ~ .logo,
#formLogin:checked ~ .panelLogin,
#exitoLogin:checked ~ .ingresoExitoso,
#cargar:checked ~ .cargar,
#index:checked ~ .index {
    opacity: 1;
    pointer-events: auto;
}

@keyframes blink {
    0%,100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}