*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    background-image: url(../media/pexels-pixabay-159400.png);
    
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center ;

    position: relative;
}

.position{
    position: absolute;
    pointer-events: none;
}

/*SE OCULTAN LOS BONOTES*/
input[type="radio"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


/*-------IMPORTATE LA OPACIDAD PARA QUE SE HAGA VISIBLE-------*/
.logo{
    pointer-events: none;
    animation: cargando 2s ease forwards;
}

.logo img{
    width: 20vh;
    animation: blink 1s infinite linear;
}

.cargar{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.cargar img{
    width: 20vh;
}


/*-------IMPORTATE LA OPACIDAD PARA QUE SE HAGA VISIBLE-------*/
.panelLogin{
    background-color: whitesmoke;
    border-radius: 4vh;
    padding: 15px;

    opacity: 0;
    animation: appear 0.8s ease forwards;
    animation-delay: 2s;
}

.panelLogin form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}

.panelLogin label{
    display: flex;
    flex-direction: column;
}

.panelLogin input{
    border-radius: 1.2vh;
    border: 1px solid #AAAAAA;
    padding-left: 10px;
    height: 3vh;
    width: 47vh;
}

.panelLogin span{
    color: #797979;
}

.panelLogin img{
    width: 7vh;
    margin: 6px;
}

.panelLogin h3{
    color: #797979;
    font-weight: 100;
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 3px;
}

.panelLogin h1{
    width: 40vh;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 3vh;
    font-weight: 500;
}

.panelLogin p{
    color: #797979;
    font-size: 12px;
    padding:0 25px 0 25px ;
}

.mensajefinal{
    font-size: 9px !important;
}

.panelLogin .btn{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;

    text-decoration: none;
    color: white;
    background-color: #ff721b;
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 5vh;

    margin-top: 10px;
    margin-bottom: 10px;
}

/*-------IMPORTATE LA OPACIDAD PARA QUE SE HAGA VISIBLE-------*/
.ingresoExitoso {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: whitesmoke;

    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 5vh;

    border-radius: 4vh;
}

.ingresoExitoso label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ingresoExitoso h1{
    font-size: 3vh;
    font-weight: 500;
}

.ingresoExitoso p{
    color: #797979;
}

.ingresoExitoso h3{
    color: #797979;
    font-weight: 100;
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 3px;
}

.ingresoExitoso img{
    margin-top: 30px;
    width: 7vh;
}

.ingresoExitoso .user{
    margin: 0;
    width: 10vh;
}

.logoPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    width: 100%;
    height: 100%;
    background-color: white;
}

.index header{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 2px solid #AAAAAA;
}

.tresQuintos{
    grid-column: 2/5;
    justify-content: space-around;
}

.dosQuintos{
    grid-column: 6/9;
    justify-content: space-around;
}

.index .logo{
    grid-column: 5/6;
    width: 30px ;

    justify-self: center;
    align-self: center;
}

.perfil{
    grid-column: 9/10;
    justify-self: end;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
}

.perfil img{
    width: 35px;
}

.index nav{
    display: flex;
}

.index i{
    margin-right: 10px;
}

.index .orange{
    color: #ff721b;
}

#exitoLogin:checked ~ .panelLogin{
    display: none;
}

#exitoLogin:checked ~ .logo{
    display: none;
}

#exitoLogin:checked ~ .ingresoExitoso,
#index:checked ~ .index {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@keyframes blink {
    0%,100%{ opacity: 1; }
    50%{ opacity: 0; }
}

    50%{
        opacity: 0;
    }
}

@keyframes cargando {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}