*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 2px solid #AAAAAA;
}

.tresQuintos{
    grid-column: 2/5;
    justify-content: space-around;
}

.dosQuintos{
    grid-column: 6/9;
    justify-content: space-around;
}

header label{
    grid-column: 5/6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 30px ;
}

.perfil{
    grid-column: 9/10;
    justify-self: end;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
}

.perfil img{
    width: 35px;
}

nav{
    display: flex;
}

i{
    margin-right: 10px;
}

.orange{
    color: #ff721b;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}

/*--------------CODIGO DEL MAIN--------------*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 50px;
}

form{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.divInput{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main label{
    margin-left: 5px;
}

form input,
form select,
form textarea{
    width: 250px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgb(95, 95, 95);
}

form textarea{
    resize: vertical;
}


button{
    margin-left: 85px;
    margin-right: 85px;

    width: 80px;
    padding: 10px;
    background: #ff721b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.08);
    background-color: #c95a16;
}

/* CODIFO DE LA PANTALLA ELIMINAR*/

.buscar {
    position: relative;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.buscar input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.buscar input:focus {
    border-color: #ff721b;
}

.buscar .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #777;
}

.eliminarMain{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    max-width: 1000px;
    gap: 10px;
}


.eliminar{
    margin: 0;
    margin-top: 10px;
    margin-right: 15px;

    width:auto;
}

input[type="checkbox"]{
    display: none;
}

.targeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
}

h3{
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(94, 94, 94);
}

p{
    color: #797979;
}

.modelado{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.checkTargeta:checked + .modelado{
    border: 3px solid rgb(68, 127, 255);
}